* {
  font-size: 18px;
}

.App {
  text-align: center;
}

.menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  border: none;
  margin-right: 2em;
  color: black;
  font-size: 18px;
}

.ant-card-meta-description,
.ant-card-meta-title,
.ant-input, .ant-form-item-label>label {
  font-size: 18px !important;
}

.antd-form{
  width: 50%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  margin: 0 auto;
  padding: 1em;
}

.ant-tabs-tabpane {
  padding: 1em;
}

.ant-btn {
  height: 40px;
  border-radius: 0.25rem;
}

.antd-icon {
  font-size: 1.5em;
}

.antd-icon-action svg {
  font-size: 3.5em;
  cursor: pointer;
}

.antd-icon-action:hover svg{
  color:#1890ff;
}

.antd-select {
  width: 250px;
}

.ant-list-item {
  cursor: pointer;
  padding: 1em;
}

.read0.ant-list-item {
  background-color: aliceblue;
}


.antd-card {
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media only screen and (max-width: 768px){
  .antd-form {
    width: 100%;
    margin: 0;
  }
}