.App {
  text-align: center;
}

.menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  border: none;
  margin-right: 2em;
  color: black;
}

.antd-icon {
  font-size: 1.5em;
}

.antd-icon-action {
  font-size: 2em;
  color: midnightblue;
  cursor: pointer;
}

.antd-icon-action:hover {
  color:aliceblue;
  font-size: 2.5em;
}

.antd-select {
  width: 250px;
}

.antd-card {
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}